# dbt
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/

# Datos locales (MinIO y warehouse ya no son locales)
data/
metastore_db/
derby.log

# macOS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
.env

# Docker
*.log

# Claude Code
.claude/

# dbt user config
dbt_project/.user.yml

# Local Spark warehouse
dbt_project/spark-warehouse/
